body {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 20rem; */
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

/* Disable the toggle button for statement and features */
.p-treetable-tbody > tr:not(:is([aria-level='1'], [aria-level='2'])) > td {
  border: none !important;
  div > .p-treetable-node-toggle-button {
    visibility: hidden !important;
  }
}
